body 
{background-color: lightblue;}
h1 {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
h2 {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
h3 {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
h4 {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
h5 {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
h6 {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
p {color: navy;margin-left: 20px;font-family: "Times New Roman", Times, serif;}
