

html, body 
{background-color: #ccc;
  position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0
}

.center {
  border: 3px solid gray;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
} 

p {color: black;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
 
.classy {
  float:right;
}

.messy{
  border: 3px solid gray;
  text-align: left;
  font-family: "Times New Roman", Times, serif;

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: maroon;
}

/* selected link */
a:active {
    color: blue;

