
body 
{background-color: #ccc;}

.center {
  border: 3px solid gray;
  text-align: center;
} 

.center h1 {
  color: navy;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
.center h2 {
  color: navy;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
.center h3 {
  color: navy;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
.center h4 {
  color: navy;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
.center h5 {
  color: navy;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
.center h6 {
  color: navy;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}
p {color: black;
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
 
iframe {
  float:left;
}


